
<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="/">
				<img src="#" alt="">
			</a>
			<div class="user-panel">
         {{#if user}}
				<a href="/logout">Logout</a> / <a href="/userProfile">User Profile</a>
        {{else}}
        
        <a href="/login">Login</a>  /  <a href="/signup">Register</a>
         {{/if}}
       
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
      
			<nav class="main-menu">
				<ul>
          <li><a href="/">Home</a></li>
          {{#if userInSession}}
					<li><a href="/games">Games</a></li>
					
					<li><a href="/streams">Streams</a></li>
          {{/if}}
				</ul>
			</nav>
      
		</div>
	</header>

<div id="signup">
  <div id="signup-inner">
  <form action="/signup" method="POST">
    <label for="input-username" id="signup-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Your username" />
 
    <label for="input-email" id="signup-email">Email</label>
    <input type="email" id="input-email" name="email" placeholder="Your email" />
 
    <label for="input-password" id="signup-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />
 
    <button type="submit">Create account</button>
 
    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  </form>
  </div>
</div>