<h2>Create a record</h2>
 
<form action="/games/{{this.id}}/records/create" method="post">
 
  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />
 
  <label for="time-input">Time:</label>
  <input type="number" name="time" id="time-input" />
 
   <label for="picture-input">Picture:</label>
  <input type="text" name="picture" id="picture-input" />
 
  <label for="video-input">Video:</label>
  <input type="text" name="video" id="video-input" />
 
  <button type="submit">Create</button>
 
</form>

