
<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="/">
				<img src="#" alt="">
			</a>
			<div class="user-panel">
         {{#if user}}
				<a href="/logout">Logout</a> / <a href="/userProfile">User Profile</a>
        {{else}}
        
        <a href="/login">Login</a>  /  <a href="/signup">Register</a>
         {{/if}}
       
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="/games">Games</a></li>
					<li><a href="/">Home</a></li>
					<li><a href="/streams">Streams</a></li>
				</ul>
			</nav>
		</div>
	</header>
<div class="oops">
<p class="center">Space Invaders destroyed this page! Take revenge on them!
  <br/> Use <span class="label label-danger">Space</span> to shoot and <span class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button></p>

<canvas id="space-invaders"/>

</div>