
<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="/">
				<img src="#" alt="">
			</a>
			<div class="user-panel">
         {{#if userInSession}}
				<a href="/logout">Logout</a> / <a href="/userProfile">User Profile</a>
        {{else}}
        
        <a href="/login">Login</a>  /  <a href="/signup">Register</a>
         {{/if}}
       
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
      {{#if userInSession}}
			<nav class="main-menu">
				<ul>
					<li><a href="/games">Games</a></li>
					<li><a href="/">Home</a></li>
					<li><a href="/streams">Streams</a></li>
				</ul>
			</nav>
      {{/if}}
		</div>
	</header>

<!-- Add a placeholder for the Twitch embed -->
<div class="twitch-wrap">
  <div id="twitch-embed"></div>
<div id= "twitch-more"></div>
<div id="twitch-three"></div>
<div id="twitch-four"></div>
<div id="twitch-five"></div>
</div>


<!-- Load the Twitch embed script -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>

<!-- Create a Twitch.Player object. This will render within the placeholder div -->
<script type="text/javascript">
  new Twitch.Player("twitch-embed", {
    video: "727515696",
    autoplay: false

  });
    new Twitch.Player("twitch-embed", {
    video: "718011418",
    autoplay: false
  });

  new Twitch.Player("twitch-embed", {
    video: "728570219",
    autoplay: false
  });

  new Twitch.Player("twitch-embed", {
    video: "449511516",
    autoplay: false
  });

  new Twitch.Player("twitch-embed", {
    video: "449417847",
    autoplay: false
  });

  new Twitch.Player("twitch-embed", {
    channel: "speedrun",
    autoplay: false
  });

  new Twitch.Player("twitch-more", {
    video: "718039461",
    autoplay: false
  });

  new Twitch.Player("twitch-more", {
    video: "726029070",
    autoplay: false
  });
  new Twitch.Player("twitch-more", {
    video: "729519560",
    autoplay: false
  });
new Twitch.Player("twitch-more", {
    video: "723505283",
    autoplay: false
  });
   new Twitch.Player("twitch-more", {
    video: "713206804",
    autoplay: false
  });
  new Twitch.Player("twitch-more", {
    collection: "Du1_VBMV-xWz0w",
    video: "553818394",
    autoplay: false
  });

  new Twitch.Player("twitch-three", {
    video: "713902374",
    autoplay: false
  });

new Twitch.Player("twitch-three", {
    video: "604662491",
    autoplay:false
  });
  new Twitch.Player("twitch-three", {
    video: "600829453",
    autoplay:false
  });

 new Twitch.Player("twitch-three", {
    video: "600681442",
    autoplay:false
  });
  new Twitch.Player("twitch-three", {
    video: "50090089",
    autoplay: false
  });

  new Twitch.Player("twitch-three", {
    video: "598148859",
    autoplay: false
  });
</script>