/*# sourceMappingURL=style.css.map */
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #131313;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #878787;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #131313;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #ffb320;
	cursor: pointer;
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.site-btn:hover {
	color: #131313;
}


.header-section {
	background: #131313;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid #ffb320;
}

.site-logo {
	display: inline-block;
	padding-top: 6px;
}

.user-panel {
	float: right;
	font-weight: 500;
	background: #ffb320;
	padding: 8px 28px;
	border-radius: 30px;
}

.user-panel a {
	font-size: 14px;
	color: #131313;
}

.main-menu {
	float: right;
	margin-right: 170px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #ffb320;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

.footer-section {
	padding: 18px 0 16px;
	overflow: hidden;
	background: #252525;
}

.footer-menu {
	list-style: none;
	float: right;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: #aeaeae;
	margin-left: 30px;
}