{{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <p>This is your profile page my friend!</p>
    <button>
        <a href="/userProfile">Reload the page</a>
    </button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}

{{!-- <h1> Welcome to your user page</h1> --}}
{{!-- Here are your records --}}
{{!-- All of the records here so that someone can Edit,DELETE,or Create --}}
